@each $name, $color in $theme-colors {
    .bg-#{$name} {
        background-color: $color;
    }
}

@each $name, $color in $theme-colors {
    .#{$name} {
        color: $color;
    }
}

@each $name, $color in $theme-colors {
    .border-#{$name} {
        border-color: $color;
    }
}
