#negotiation-timeline {

    & img{
        height: 157px;
        width: 157px;
        margin-bottom: 36px;
    }

    & h2{
        margin-bottom: 18px;
        font-size: 24px;
    }

    & p{
        margin-bottom: 36px;
        line-height: 20px;
        font-size: 14px;
    }

    & .btn{
        padding: 18px 42px;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 5px;
    }

    & .card.active{
        border: 3px solid #2F706B;
        box-shadow: 0 4px 40px #b5b5b5;
    }

    & .card{
        border: 1px solid #DCDCDC;
        box-shadow: 0 0 10px rgba(83,96,138,0.15);
    }

     & .badge{
        font-weight: normal;
    }
}
